.header__lang-link {
  margin: 0;
  font-size: 24px;
  text-decoration: none;
  line-height: 1.15;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  transition: opacity .2 linear;
  opacity: 1;
}

.header__lang-link:hover {
  opacity: .5;
  
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.3;
  }
}