.intro__list {
    display: flex;
    flex-direction: column;
    color: #fff;
    vertical-align: top;
    line-height: 18px;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    margin-top: 33px;
    margin-bottom: 92px;
}