.lead__title {
    max-width: 720px;
    margin: 56px auto 0 auto;
    line-height: 100px;
    font-size: 96px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin: 48px auto 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        margin: 48px auto 0 auto;
        line-height: 44px;
        font-size: 40px;
    }
}