.header__lang-links {
    display: flex;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding-top: 49px;
    padding-right: 48px;
}

@media screen and (min-width: 1024px) {
    .header__lang-links {
        padding-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .header__lang-links {
        padding-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        padding-right: 16px;
        max-width: 142px;
        padding-top: 42px;

    }
}